body{
    margin: 0;
}

.main_header{
    display: flex;
    background: linear-gradient(90deg, #89f100 0%, #c2ff72 40%);
    gap: 20px;
    padding: 8px 18px;
}

.header_left{
    display: flex;
    gap:20px;
    
}

.window_button{
    padding: 18px 18px;
    background:none;
    background-image: url('assets/icons/window.png');
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center; 
    border: none;                
    cursor: pointer; 
}

.logo img{
    width: 50px;
    height: 50px;   
}

.header_center{
    background-color: #eeffd9;
    border-radius: 20px;
    border: 2px solid #2eae21;
    width: 830px;
    height: 25px;
    position: relative;
    top: 10px;
    
}

.search_input{
    background: none;
    border:  none;
    width: 770px;
    height: 25px;    
    outline: none;
    position: relative;
    left: 10px;
}

.search_button{
    padding: 12px 24px;
    background:none;
    background-image: url('assets/icons/search.png');
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center; 
    border: none;
    cursor: pointer;      
    position: relative;
    bottom: 6px;
}

.header_right{
    position: relative;
    top: 5px;
}
.button_creditos_AC,
.button_creditos_OP {
    background: linear-gradient(90deg, #c2ff72 0%, #ecffd9 40%);
    box-shadow: 0 4px 12px rgba(0.5,0.5,0.5,0.5);
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.button_creditos_AC:hover,
.button_creditos_OP:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.interaction-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 30px;;
    border: none; 
    background: none;

    cursor: pointer;
    transition: 0.3s;
}

.interaction-btn img{
    width: 18px;
    height: 18px;
}

.comment-btn{
    background-image: url('assets/icons/empty_coments.png');
    
}

.like-count, .comments-count{
    color: #1fbbff;
    font-size: 14px;
}

.btn-add{
    display: flex;
    align-items:center;
    gap: 8px;
    padding: 10px 24px;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(1,1,1,1);
    
}

.btn-add img{
    width: 24px;
    height: 24px;
}

.btn-add:hover{
    transform: scale(1.05);
}

.sidebar-title{
    color: #1fbbff;
    text-decoration: underline;
}
.period-text{
    color: #1fbbff;
}
.period-value{
    color: black;
}

.main_layout{
    background-color: #effafd;
    display: flex;
    gap: 100px;
}

.feed-container{
    border: #ecffd9 ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 5px;
}

.feed-card{
    background-color: white;
    border-radius: 20px;
    border: 15px solid white;
    
}


.profile-info {
    display: grid;
    grid-template-columns: 35px 200px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "pic name badge"
        "pic time badge";
    column-gap: 10px;
    row-gap: 0;
    align-items: center;
}

.profile-pic {
    grid-area: pic;
    display: block;
}

.profile-pic img{
    width: 35px;
    height: 35px;
    display: block;
}

.profile-name{
    grid-area: name;
    display: inline-block;
    max-width: 200px;
    min-width: 50px;
}

.post-time{
    font-size: 12px;
    color: #656565;
    grid-area: time;
    display: block;
    position: relative;
    left: 5px;
}
.badge{
    grid-area: badge;
    display: block;
    color: #1fbbff;
}

.card-footer{
    display:flex;
    gap: auto;
    position:relative;
    top: 5px;
    bottom: 10px;
}

.enquete-options{
    display: flex;
    border: 2px solid #1fbbff;
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    
}

.poll-option-btn{
    border: 2px solid #1fbbff;
    padding: 8px 18px;
    color: #1fbbff;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    height: 50px;
    margin: 10px;
}

.poll-total-votes{
    font-size: 12px;
    color: #656565;
    position: relative;
    left: 10px;
}

.sidebar-score{
    background-color: white;
    border-radius: 20px;
    
}