body{
    margin: 0;
}

.main_header{
    display: flex;
    background-color: #c2ff72;
    gap: 20px;
    padding: 8px 18px;
    
}

.header_left{
    display: flex;
    gap:20px;
    
}

.window_button{
    padding: 18px 18px;
    background:none;
    background-image: url('assets/icons/window.png');
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center; 
    border: none;                
    cursor: pointer; 
}

.logo img{
    width: 50px;
    height: 50px;   
}

.header_center{
    background-color: #eeffd9;
    border-radius: 20px;
    border: 2px solid #2eae21;
    width: 830px;
    height: 25px;
    position: relative;
    top: 10px;
    
}

.search_input{
    background: none;
    border:  none;
    width: 770px;
    height: 25px;    
    outline: none;
    position: relative;
    left: 10px;
}

.search_button{
    padding: 12px 24px;
    background:none;
    background-image: url('assets/icons/search.png');
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center; 
    border: none;  
    cursor: pointer;      
    position: relative;
    bottom: 6px;       
}

.header_right{
    position: relative;
    top: 5px;
}
.button_creditos_AC,
.button_creditos_OP {
    background: linear-gradient(90deg, #c2ff72 0%, #ecffd9 40%);
    box-shadow: 0 4px 12px rgba(0.5,0.5,0.5,0.5);
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.button_creditos_AC:hover,
.button_creditos_OP:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.interaction-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 30px;;
    border: none; 
    background: none;

    cursor: pointer;
    transition: 0.3s;
}

.interaction-btn img{
    width: 18px;
    height: 18px;
}

.comment-btn{
    background-image: url('assets/icons/empty_coments.png');
    
}

.like-count, .comments-count{
    color: #1fbbff;
    font-size: 14px;
}

.btn-add{
    display: flex;
    align-items:center;
    gap: 8px;
    padding: 10px 24px;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(1,1,1,1);
    
}

.btn-add img{
    width: 24px;
    height: 24px;
}

.btn-add:hover{
    transform: scale(1.05);
}

.sidebar-title{
    color: #1fbbff;
    text-decoration: underline;
}
.period-text{
    color: #1fbbff;
}
.period-value{
    color: black;
}

.main_layout{
    background-color: #effafd;
    display: flex;
    gap: 100px;
}

.feed-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 5px;
}

.feed-card{
    background-color: white;
    border-radius: 20px;
    
}


.professor-info{
    display: flex;
    flex-direction: row;
    
    gap:15px;
}

.profile-text{
    display: flex;
    flex-direction: column;
    top:0px;
}

.profile-pic img{
    width: 35px;
    height: 35px;
}

.sidebar-score{
    background-color: white;
    border-radius: 20px;
}